/* TODO: Fix overflow w/o body */

body {
    overflow: hidden;
}

.cases-line {
    grid-column: 1;
    grid-row: 1;
}

.cases-geo {
    grid-column: 2;
    grid-row: 1;
}

.deaths-line {
    grid-column: 1;
    grid-row: 2;
}

.deaths-geo {
    grid-column: 2;
    grid-row: 2;
}

.line-path {
    fill: none;
    stroke-width: 3px;
    stroke-linecap: round;
}

.title {
    font-family: sans-serif;
    text-anchor: middle;
    font-size: 16pt;
}

.axis-label {
    text-anchor: middle;
    font-size: 12pt;
    color: black;
    fill: black;
}

.selection-rect {
    fill: none;
    pointer-events: all;
}

.hover-text {
    pointer-events: none;
    font-size: 8pt;
    text-shadow:
        -1px -1px 3px white,
        -1px 1px 3px white,
        1px -1px 3px white,
        -1px -1px 3px white;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.axis-label {
    fill: #ababab;
}

.y-axis {
    color: #ababab;
}

.x-axis {
    color: #ababab;
}

.legend-box {
    font-size: 16pt;
}
