body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;

    overflow: hidden;
}

.cases-line {
    grid-column: 1;
    grid-row: 1;
}

.cases-geo {
    grid-column: 2;
    grid-row: 1;
}

.deaths-line {
    grid-column: 1;
    grid-row: 2;
}

.deaths-geo {
    grid-column: 2;
    grid-row: 2;
}

.line-path {
    fill: none;
    stroke-width: 3px;
    stroke-linecap: round;
}

.title {
    font-family: sans-serif;
    text-anchor: middle;
    font-size: 16pt;
    fill: white;
}

.axis-label {
    text-anchor: middle;
    font-size: 12pt;
    fill: white;
}

.selection-rect {
    fill: none;
    pointer-events: all;
}

.hover-text {
    pointer-events: none;
    fill: white;
    font-size: 8pt;
    text-shadow:
        -1px -1px 3px #141414,
        -1px 1px 3px #141414,
        1px -1px 3px #141414,
        -1px -1px 3px #141414;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.y-axis {
    color: #ababab;
}

.x-axis {
    color: #ababab;
}

.legend-box {
    font-size: 16pt;
}

.tick text {
    fill: #ababab;
}

.loading {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-spinner {
    height: 50vw;
    width: 50vw;

    border: 5vw solid lightgrey;
    border-top: 5vw solid red;
    border-radius: 50%;

    animation: rotate 3s linear infinite;
}

@media screen and (min-aspect-ratio: 1/1) {
    .loading-spinner {
        height: 50vh;
        width: 50vh;

        border-width: 5vh;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
